node_modules/
apps/sync/resume-token.txt

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Logs
logs
yarn-debug.log*
yarn-error.log*
